body{
    background: url(https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center-center;
}

.form-box{
width: 500px;
background: rgba(0,128,128,0.7);
margin: 3% auto;
padding: 40px 0;
color: white;
box-shadow: 0 0 40px 10px rgba(0,0,0,0.5);

}
h1{
font-size: 55px;
text-align: center;
font-family: fixed;
}

.input-box{
text-indent: 10px;
margin: 15px auto;
width: 80%;
font-family: monospace;
font-size: 15px;
}

.button2{
 color: white;
 font-family: monospace;
 font-weight: 100%;
 font-size: 17px;
 text-align: center;
 border: solid 2px white;
 border-radius: 25px;
 padding: 10px 55px;
 transition-duration: 200ms;
 text-align: center;
}

.button2:hover{
 background-color: #31A6FF;
 color: white;

}

#indent{
text-indent: 20px;
}

a {
    text-decoration: inherit;
}