<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database View</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style_database.css') }}">
</head>
<body>
<h1> Database</h1>
<div class="form-box">
<a href="/student_list" class="Button"> List of Students</a>
    <br>
    <div id="indent">
<a href="/tutor_list" class="button">List of Tutors</a>
        </div>
    <div id="indent2">
<a href="/" class="button2">Back</a>
        </div>
    <br>
</div>
</body>
</html>