<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Students</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style_student_list.css') }}">
</head>
<body>
<h1>List of Students</h1>
<div id="indented2">
<a href="/database" class="button">Back</a>
</div>

<div id="style">
<ul>
<table>
    <tr>
        <td><b>Student Id</b></td>
        <td><b>Name</b></td>
        <td><b>Age</b></td>
        <td><b>Class Year</b></td>
        <td><b>Major</b></td>
        </tr>
{% for student in student_list %}
    <tr>
        <td>{{student['student_id']}}</td>
        <td>{{student['name']}}</td>
        <td>{{student['age']}}</td>
        <td>{{student['class_year']}}</td>
        <td>{{student['major']}}</td>
    </tr>
    {% endfor %}
</table>
</ul>
    </div>

</body>
</html>
