<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student And Tutor</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style_view.css') }}">
</head>
<body>
<h1>Student And Tutor</h1>
<h2>Welcome Guest! Select one of the options below to continue.</h2>
<div class="form-box">
<div id="indented">
<a href="/add_student" class="Button"> I am a Student</a>
    </div>
<div id="indented2">
<a href="/add_tutor" class="button">I am a Tutor</a>
  </div>
<div id="indented3">
<a href="/database" class="button2">Database</a>
 </div>
</div>
</body>
</html>

